* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("paisagem.jpg");
  background-size: cover;
  color: #333;
}

header {
  background-color: #222;
  padding:0px;
  margin: -5px;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}


.galeria img:hover {
  transform: scale(1.05);
}

nav{
 display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #181616;
  height: 10vh;

}

.logo {
  color: #ffffff;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-left: 10px;
}

.nav-list {
  font-size: 12.5px;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

span {
  color: rgb(238, 194, 50);
}

.t1 {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  font-size: 3rem;
  color: #ffffff;
  text-transform: uppercase;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 50%;
  margin-right: 50%;
  margin-top: 4%;
}

.img1 {
  display: flex;
  justify-content: flex-start;
  width: 30vh;
  height: 30vh;
  margin-top: 140px;
  margin-right:1000px; 
  border: 10px solid black;
  
}

.img2 {
  display: flex;
  justify-content: flex-start;
  width: 30vh;
  height: 30vh;
  margin-top: 140px;
  margin-right: 100px; 
  border: 10px solid black;
  
}
