* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;

  
}

header {
  background-color: #222;
  padding:0px;
  margin: -5px;
}

main {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("tokyo-ghoul.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 0px;
  height: 89.5vh;
}



.principal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #181616;
  height: 10vh;

}

.logo {
  color: #ffffff;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-left: 10px;
}

.logo img{
  margin-top: 9px;
  width: 200px;
  height: 100px;
}

.nav-list {
  font-size: 12.5px;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}
    
.t1 {
  white-space: nowrap;
  display: flex;
  justify-content: center;
  margin-top: 200px;
  font-size: 2rem;
  color: #ffffff;
  text-transform: uppercase;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 50%;
  margin-right: 50%;
  margin-top: 13%;
}
  

span {
  color: rgb(238, 194, 50);
}

.t2 {
  display: flex;
  justify-content: center;
  margin-top:-230px;
  font-size: 1.2rem;
  color: #ece5e5;
  text-transform: uppercase;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

span {
  color: rgb(173, 12, 12);
}

section {
  height: 89.5vh;
  background-color: rgb(30, 36, 36);
  background-image: linear-gradient(to bottom, #161515f5, #161515f5);
}

.t3 {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  color: #ece5e5;
  text-transform: uppercase;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.t3 h1{
  margin-top: 50px;
}
